<template>
  <v-layout column>
    <v-card>
      <v-card-text>
        <v-flex class="mb-4">
          <v-img :src="getSrc(subject)" alt="Subject logo" />
        </v-flex>
      </v-card-text>
      <v-card-title>
        {{ subject.name }}
      </v-card-title>
      <v-card-text>
        {{ subject.description }}
      </v-card-text>
      <v-card-text class="pb-0">
        Файлы:
      </v-card-text>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title
            class="cursor-pointer"
            v-for="upload in subject.uploads"
            :key="upload.id"
            @click="openFile(upload.dataContentType, upload.data)"
          >
            {{ upload.filename }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-card>
    <v-row v-if="posts">
      <v-card
        v-for="post in posts"
        :key="post.id"
        class="my-5 mx-2"
        max-width="280"
      >
        <v-img
          :src="getSrc(post)"
          height="200px"
        ></v-img>

        <v-card-title>
          {{ post.title }}
        </v-card-title>

        <v-card-subtitle>
          {{ post.description }}
        </v-card-subtitle>

        <v-card-actions>
          <v-btn
            color="orange lighten-2"
            text
            :to="{ name: 'post-id', params: { id: post.id } }"
          >
            Перейти
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-row>
    <v-row v-if="posts">
      <v-card
        v-for="testing in testings"
        :key="testing.id"
        class="my-5 mx-2"
        min-width="200"
      >
        <v-card-title>
          {{ testing.title }}
        </v-card-title>

        <v-card-subtitle>
          {{ testing.description }}
        </v-card-subtitle>

        <v-card-actions>
          <v-btn
            color="orange lighten-2"
            text
            target="_blank"
            :href="testing.url"
          >
            Перейти
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-row>
  </v-layout>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import utils from "../../../mixins/utils";

export default {
  async fetch() {
    const id = this.$route.params.id
    await this.FETCH_SUBJECT(id)
    await this.FETCH_POSTS(id)
    await this.FETCH_TESTINGS(id)
  },
  mixins: [utils],
  methods: {
    ...mapActions('subjects', ['FETCH_SUBJECT']),
    ...mapActions('posts', ['FETCH_POSTS']),
    ...mapActions('testings', ['FETCH_TESTINGS'])
  },
  computed: {
    ...mapGetters('subjects', ['GET_SUBJECT']),
    ...mapGetters('posts', ['GET_POSTS']),
    ...mapGetters('testings', ['GET_TESTINGS']),
    subject () {
      return this.GET_SUBJECT
    },
    posts () {
      return this.GET_POSTS
    },
    testings () {
      return this.GET_TESTINGS
    }
  }
}
</script>

<style lang="scss" scoped>
.cursor-pointer {
  cursor: pointer;
}
</style>
