<template>
  <v-card
    class="mx-auto overflow-hidden rounded-0"
  >
    <v-app-bar>
      <v-toolbar-title style="cursor: pointer" @click="$router.push('/')">
        ECMS
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-menu
        bottom
        min-width="200px"
        rounded
        offset-y
      >
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            x-large
            v-on="on"
          >
            <v-avatar
              color="brown"
              size="48"
            >
              <span class="white--text text-h5">{{ initials }}</span>
            </v-avatar>
          </v-btn>
        </template>
        <v-card>
          <v-list-item-content class="justify-center">
            <div class="mx-auto text-center">
              <v-avatar>
                <span class="text-h5">{{ initials }}</span>
              </v-avatar>
              <h5>{{ fullname }}</h5>
              <p class="text-caption mt-1">
                {{ user.email }}
              </p>
              <v-divider class="my-3"></v-divider>
              <v-btn
                depressed
                rounded
                text
                @click="$auth.logout('local')"
              >
                Выйти
              </v-btn>
            </div>
          </v-list-item-content>
        </v-card>
      </v-menu>
    </v-app-bar>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Navbar',
  data: () => ({}),
  computed: {
    ...mapGetters('auth', ['GET_USER']),
    user () {
      return this.GET_USER
    },
    fullname () {
      return `${this.user.firstName} ${this.user.lastName}`
    },
    initials () {
      return `${this.user.firstName[0]}${this.user.lastName[0]}`
    }
  }
}
</script>
