<template>
  <div>
    <v-dialog v-model="dialog" persistent max-width="600px" min-width="360px">
      <div>
        <v-tabs v-model="tab" show-arrows icons-and-text grow>
          <v-tabs-slider></v-tabs-slider>
          <v-tab v-for="(i, index) in tabs" :key="index">
            <v-icon large>{{ i.icon }}</v-icon>
            <div class="caption py-1">{{ i.name }}</div>
          </v-tab>
          <v-tab-item>
            <v-card class="px-4">
              <v-card-text>
                <v-form ref="loginForm" v-model="valid" lazy-validation>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field v-model="login" :rules="loginRules" label="Логин" required></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field v-model="loginPassword" :append-icon="show1?'eye':'eye-off'" :rules="[rules.required, rules.min]" :type="show1 ? 'text' : 'password'" name="input-10-1" label="Пароль" hint="At least 6 characters" counter @click:append="show1 = !show1"></v-text-field>
                    </v-col>
                    <v-col class="d-flex" cols="12" sm="6" xsm="12">
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col class="d-flex" cols="12" sm="12" xsm="12" align-end>
                      <v-btn x-large block :disabled="!valid" color="success" @click="validate"> Войти </v-btn>
                    </v-col>
                  </v-row>
                </v-form>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card class="px-4">
              <v-card-text>
                <v-form ref="registerForm" v-model="valid" lazy-validation>
                  <v-row>
                    <v-col cols="12">
                      <v-text-field v-model="login" :rules="loginRules" label="Логин" required></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                      <v-text-field v-model="firstName" :rules="[rules.required]" label="Имя" maxlength="20" required></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                      <v-text-field v-model="lastName" :rules="[rules.required]" label="Фамилия" maxlength="20" required></v-text-field>
                    </v-col>
                    <v-col
                      class="d-flex"
                      cols="12"
                    >
                      <v-select
                        v-model="group"
                        :items="groups"
                        label="Group"
                        :rules="[rules.required]"
                        item-text="name"
                        :item-value="group"
                      ></v-select>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field v-model="password" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[rules.required, rules.min]" :type="show1 ? 'text' : 'password'" name="input-10-1" label="Пароль" hint="Минимум 6 символов" counter @click:append="show1 = !show1"></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field block v-model="verify" :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[rules.required, passwordMatch]" :type="show2 ? 'text' : 'password'" name="input-10-1" label="Подтверждение пароля" counter @click:append="show2 = !show2"></v-text-field>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col class="d-flex ml-auto" cols="12" sm="12" xsm="12">
                      <v-btn x-large block :disabled="!valid" color="success" @click="validate">Зарегестрироваться</v-btn>
                    </v-col>
                  </v-row>
                </v-form>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: 'Auth',
  async fetch () {
    await this.FETCH_GROUPS()
  },
  computed: {
    ...mapGetters('groups', ['GET_GROUPS']),
    passwordMatch () {
      return () => this.password === this.verify || "Пароли не совпадают";
    },
    groups () {
      return this.GET_GROUPS
    }
  },
  methods: {
    ...mapActions('auth', ['SING_IN', 'REGISTER']),
    ...mapActions('groups', ['FETCH_GROUPS']),
    validate() {
      const credentials = {}

      switch (this.tab) {
        case 0:
          if (!this.$refs.loginForm.validate()) return
          credentials.username = this.login
          credentials.password = this.loginPassword

          this.SING_IN(credentials)
            .catch(() => {
              if (!this.$auth.error.response) return
              if (this.$auth.error.response.status === 401 || this.$auth.error.response.status === 400) {
                alert(this.$auth.error.response.data.message)
              }
            })
          break;
        case 1:
          if (!this.$refs.registerForm.validate()) return
          credentials.login = this.login
          credentials.firstName = this.firstName
          credentials.lastName = this.lastName
          credentials.email = this.email
          credentials.langKey = 'ru'
          credentials.password = this.password

          const group = this.group

          this.REGISTER({ credentials, group }).then(res => {
            if(res.status === 400) {
              alert(res.data.message)
            }

            if(res.status === 201) {
              this.tab = 0
            }
          })
          break;
        default:
          alert("Попробуйте заново");
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    }
  },
  data: () => ({
    dialog: true,
    tab: 0,
    tabs: [
      { name:"Вход", icon:"mdi-account" },
      { name:"Регистрация", icon:"mdi-account-outline" }
    ],
    valid: true,
    firstName: "",
    lastName: "",
    email: "",
    password: "",
    verify: "",
    loginPassword: "",
    login: "",
    group: null,
    loginRules: [
      v => !!v || "Обязательно"
    ],
    emailRules: [
      v => !!v || "Обязательно",
      v => /.+@.+\..+/.test(v) || "E-mail должен быть валидный."
    ],
    show1: false,
    show2: false,
    rules: {
      required: value => !!value || "Обязательно.",
      min: v => (v && v.length >= 6) || "Минимум 6 символов"
    }
  })
}
</script>
