<template>
  <v-layout column>
    <v-card>
      <v-card-text>
        <v-flex class="mb-4">
          <v-img :src="getSrc(post)" alt="Subject logo" />
        </v-flex>
      </v-card-text>
      <v-card-title>
        {{ post.title }}
      </v-card-title>
      <v-card-text>
        {{ post.description }}
      </v-card-text>
      <v-card-text class="pb-0">
        Файлы:
      </v-card-text>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title
            class="cursor-pointer"
            v-for="upload in post.uploads"
            :key="upload.id"
            @click="openFile(upload.dataContentType, upload.data)"
          >
            {{ upload.filename }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-card>
  </v-layout>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import utils from "../../../mixins/utils";

export default {
  async fetch () {
    const id = this.$route.params.id
    await this.FETCH_POST(id)
  },
  mixins: [utils],
  methods: {
    ...mapActions('posts', ['FETCH_POST'])
  },
  computed: {
    ...mapGetters('posts', ['GET_POST']),
    post () {
      return this.GET_POST
    }
  }
}
</script>

<style lang="scss" scoped>
.cursor-pointer {
  cursor: pointer;
}
</style>
