<template>
  <v-app class="auth">
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'auth',
}
</script>

<style lang="scss" scoped>
.auth {
  background: url('https://images.unsplash.com/photo-1601807576163-587225545555?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1973&q=80') no-repeat center center fixed !important;
  background-size: cover;
}
</style>
