<template>
  <v-app dark>
    <v-main>
      <Navbar />
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>

    <v-footer app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import Navbar from "../components/layout/navbar";
export default {
  name: 'DefaultLayout',
  components: {Navbar},
  middleware: 'auth'
}
</script>
