<template>
  <v-row>
    <v-col
      cols="12"
      sm="12"
    >
      <h3 class="h3">Ваши предметы</h3>
    </v-col>
    <v-card
      v-for="subject in subjects"
      :key="subjects.id"
      class="my-5 mx-2"
      max-width="280"
    >
      <v-img
        :src="getSrc(subject)"
        height="200px"
      ></v-img>

      <v-card-title>
        {{ subject.name }}
      </v-card-title>

      <v-card-subtitle>
        {{ subject.description }}
      </v-card-subtitle>

      <v-card-actions>
        <v-btn
          color="orange lighten-2"
          text
          :to="{ name: 'subject-id', params: { id: subject.id } }"
        >
          Перейти
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-row>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import utils from "../mixins/utils";

export default {
  name: 'IndexPage',
  async fetch() {
    await this.FETCH_USER_GROUP()
  },
  mixins: [utils],
  methods: {
    ...mapActions('groups', ['FETCH_USER_GROUP'])
  },
  computed: {
    ...mapGetters('groups', ['GET_GROUP_SUBJECTS']),
    subjects () {
      return this.GET_GROUP_SUBJECTS
    }
  }
}
</script>
