<template>
  <div class="landing">
    <section class="bg-gradient pt-5 pb-6">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex flex-row align-items-center justify-content-between">
            <div class="heading-brand">ECMS</div>
            <nuxt-link :to="$auth.loggedIn ? '/' : '/auth'" class="btn btn-dark" v-text="$auth.loggedIn ? 'Личный кабинет' : 'Авторизация'">
              Авторизация
            </nuxt-link>
          </div>
        </div>
        <div class="row mt-6">
          <div class="col-md-9 mx-auto text-center">
            <h1>Информационная система управления образовательным контентом "ECMS"</h1>
            <p class="lead mb-5">
              ECMS - легкая, гибкая система управления образовательным контентом, ориентированная на небольшие
              предприятия и образовательные учереждения.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!--Features Section-->
    <section class="py-6">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="text-center text-md-left">Преимущества <span class="text-success">ECMS</span></h2>
            <div class="row feature-grid">
              <div class="col-sm-6">
                <div class="media">
                  <div class="icon-box">
                    <div class="icon-box-inner">
                      <i class="fas fa-2x fa-lightbulb"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    Простота использования
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="media">
                  <div class="icon-box">
                    <div class="icon-box-inner">
                      <i class="fas fa-2x fa-swatchbook"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    Интуитивный интерфейс
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="media">
                  <div class="icon-box">
                    <div class="icon-box-inner">
                      <i class="fas fa-2x fa-shipping-fast"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    Скорость работы
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="media">
                  <div class="icon-box">
                    <div class="icon-box-inner">
                      <i class="fas fa-2x fa-bolt"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    Минималистичный дизайн
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="media">
                  <div class="icon-box">
                    <div class="icon-box-inner">
                      <i class="fas fa-2x fa-arrows-alt-h"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    Простота масштабирования
                  </div>
                </div>
              </div><div class="col-sm-6">
              <div class="media">
                <div class="icon-box">
                  <div class="icon-box-inner">
                    <i class="fas fa-2x fa-window-restore"></i>
                  </div>
                </div>
                <div class="media-body">
                  Доступ из браузера
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--footer-->
    <footer class="py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="">Зарегестрироваться</a></li>
              <li class="list-inline-item"><a href="">Преподавать</a></li>
              <li class="list-inline-item"><a href="mailto:lydesi24@gmail.com">Написать разработчику</a></li>
            </ul>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-4 mx-auto text-muted text-center small-xl">
            &copy; 2022 ECMS - All Rights Reserved
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  layout: 'landing',
}
</script>

<style scoped>
@import url('pages/landing/css/bootstrap.css');
@import url('//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
.landing {
  font-family: 'Montserrat', sans-serif;
}
</style>
